body {
    background-image: url("geo.png");
    background-color: rgba(255,166,255,.5);
}

.wrapper {
    background-color: rgba(141,255,238,.5);
    height: 100%;
    margin: 2rem 0;
}

.card-content {
    color: #CC5D5C;
    font-size: 1.1rem;
}

.btn {
    margin-right: .5rem;
}

.title {
    font-family: 'Fugaz One', cursive;
    width: 100%;
    margin: 3.5rem auto;
    color: #0D3733;
}

::placeholder {
    color: #0D3733;
}
    
.message {
    color: #CC5D5C;
    margin-top: 1rem;
}